[Unit]
Description=MojDebian Console Interface
After=multi-user.target mywebui.service
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mojdebian-shell.sh
Restart=always
RestartSec=1
StandardInput=tty-force
StandardOutput=tty
TTYPath=/dev/tty1
User=root
Environment=TERM=linux

[Install]
WantedBy=multi-user.target
