[Unit]
Description=Startup Banner with Menu
After=network-online.target mywebui.service
Wants=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/startup-banner.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
