[Unit]
Description=My WebUI
After=network.target

[Service]
# Uruchom aplikację WebUI z virtualenv (jak w działającym Part2)
ExecStart=/opt/mywebui/venv/bin/python /opt/mywebui/app.py
WorkingDirectory=/opt/mywebui
Restart=always
User=root

[Install]
WantedBy=multi-user.target
